$red: rgb(241, 62, 62);
$lightgreen: rgb(47, 199, 72);
$white: rgb(219, 219, 219);

.quiz-area {
	background-color: rgb(213, 241, 213);
	background-size: cover;
	height: 100vh;
	position: relative;

	h4 {
		font-family: 'Coiny', cursive;
		color: $white;
	}

	h6 {
		font-family: 'Coiny', cursive;
		color: #000;
		font-size: 2vw;
		@media (max-width: 550px) {
			font-size: 3vw;
		}
		@media (max-width: 450px) {
			font-size: 3.5vw;
		}
		@media (max-width: 350px) {
			font-size: 4vw;
		}
	}
	
	.card-title {
		position: absolute;
		top: 53%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}

	.card-text {
		font-family: 'PT Sans Caption', sans-serif;
		color: $white;
		font-size: 1.7vw;
		padding: 10px;
		@media (max-width: 1050px) {
			font-size: 2vw;
		}
		@media (max-width: 620px) {
			font-size: 3vw;
		}
		@media (max-width: 400px) {
			font-size: 4vw;
		}
		@media (max-width: 300px) {
			font-size: 5vw;
		}
	}

	.text-overlay {
		position: absolute;
		top: 59%;
		background: rgba(24, 39, 61, 0.55);
		border-color: $white;
		border:1px solid rgba(0, 0, 0, .2);
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 90%;
	}

	.qst-area {
		position: absolute;
		top: 3%;
		height: 80vh;
	}

	.card-area {
		background-color: rgb(199, 199, 199);
		position: absolute;
		top: 10%;
		z-index: 2;
		width: 45vw;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		@media (max-width: 850px) {
			width: 50vw;
		}
		@media (max-width: 550px) {
			width: 65vw;
		}
		@media (max-width: 400px) {
			width: 85vw;
		}
		height: 80vh;
	}

	.image-area {
		height: 50%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		background-size: cover;
		background-position: center;
	}

	.overlay {
		background: rgba(24, 39, 61, 0.25);
		border-color: $white;
		border:1px solid rgba(0, 0, 0, .2);
		padding: 30px;
		border-radius: 5px;
		width: 100%;
		height: 100%;
	}

	.btn-yes, .btn-no {
		padding: 15px;
		border-radius: 45px; 
		width: 35%;
		cursor: pointer;
		font-size: 2vw;
		@media (max-width: 800px) {
			font-size: 2.5vw;
		}
		@media (max-width: 600px) {
			font-size: 3.5vw;
		}
		@media (max-width: 450px) {
			font-size: 4.5vw;
		}
		@media (max-width: 300px) {
			font-size: 5.5vw;
		}
	}

	.btn-yes {
		background-color: $lightgreen;
		position: absolute;
		bottom: 3%;
		left: 5%;
	}

	.btn-no {
		background-color: $red;
		position: absolute;
		bottom: 3%;
		right: 5%;
	}

	.background {
		background-size: cover;
		background-position: center;
		position: relative;
		background-image: url("../../images/abstract.jpg");
		z-index: 1;
	}

}