$white: rgb(219, 219, 219);
$green: rgb(4, 131, 25);

.body-area {

  background-image: url("../../images/background.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;

  h1, p {
    text-align: center;
    color: white;
  }

  .msg-area {
    position: absolute;
    top: 17%;
    left: 1%;
  }

  .overlay {
    background: rgba(0, 0, 0, .4);
    border-color: $white;
    border:1px solid rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 5px;
  }

  .btn-start {
    background-color: $green;
  }

}